
li{
    color:red;
}

#titulo{
    font-size: 40px;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color:#FFFFFF;
}

#produtos{
    background-color: rgba(00, 00, 00, 0.5);
}

#cards{
    text-align: center;
}

#card1{
    display: inline-block;
}

#card2{
    display: inline-block;
    margin-left: 10px;
}

#card3{
    display: inline-block;
    margin-left: 10px;
}

#card4{
    display: inline-block;
    margin-left: 10px;
}

#card5{
    display: inline-block;
    margin-left: 10px;
}
#card6{
    display: inline-block;
    margin-left: 10px;
}
#card7{
    display: inline-block;
    margin-left: 10px;
}
#card8{
    display: inline-block;
    margin-left: 10px;
}

form{
    width: 50%;
    margin:auto;
    border: black 2px solid;
}

input[type=text] {
    height: 80px;
    width: 100%;
    }

input[type=email] {
    height: 80px;
    width: 100%;
}

input[type=submit] {
    width: 100%;
}

.tituloContato{
    color:black;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.rodape{
    height: 300px;
    background-color: black;

}

.tituloRodape{
    color: white;
    font-size:20px;
}

p{
    color:white;
}

.atendimento{
    text-align: center;
}

#inicio{
    background-color: rgba(00, 00, 00, 0.8);
    color:white;
}
